<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<!-- Content Page의 CSS fragment 삽입 -->
<th:block layout:fragment="css"></th:block>
<!-- Content Page의 script fragment 삽입 -->
<th:block layout:fragment="script">
    <script th:src="@{/js/common/error.js}"></script>
</th:block>
<div layout:fragment="content">
    <fieldset>
        <legend>권한없음</legend>
        <p>
            <label>해당 페이지는 로그인이 필요한 서비스 입니다.</label>
        </p>
        <span th:text="${isLogin}"></span>
        <div class="errorPage">
            <span class="errorHead">Error!</span><br/>
            <p th:text="${'path: ' + path}"></p>
            <p th:text="${'status: ' + status}"></p>
            <p th:text="${'timestamp: ' + timestamp}"></p>
            <p th:text="${'error: ' + error}"></p>
            <p th:text="${'errors: ' + errors}"></p>
            <p th:text="${'exception: ' + exception}"></p>
            <p th:text="${'message: ' + message}"></p>
            <p th:text="${'trace: ' + trace}"></p>
        </div>
        <p>
            <button type="button" onclick="location.href=location.origin + com.contextRoot">메인</button>
            <button type="button" onclick="location.href=location.origin + com.contextRoot + '/login'">로그인</button>
        </p>
    </fieldset>


</div>
</html>
