<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/Layout/basicPage}">
<th:block layout:fragment="css-section"></th:block>
<th:block layout:fragment="js-section">
    <script charset="UTF-8" type="text/javascript" th:src="@{/js/publish/common.js}"></script>
    <script charset="UTF-8" type="text/javascript" th:src="@{/js/common/common.js}"></script>
    <script charset="UTF-8" type="text/javascript" th:src="@{/js/common/commonHeader.js}"></script>
    <script charset="UTF-8" type="text/javascript" th:src="@{/js/common/commonPage.js}"></script>

    <script charset="UTF-8" type="text/javascript" th:src="@{/js/content/main/EventListener.js}"></script>
    <script charset="UTF-8" type="text/javascript" th:src="@{/js/content/main/nav1/sub1/UpdateEventListener.js}"></script>
    <script charset="UTF-8" type="text/javascript" th:src="@{/js/content/main/nav1/sub1/UpdateOnLoad.js}"></script>
</th:block>

<th:block layout:fragment="header-section">
    <th:block th:replace="/Layout/Body/basicHeader :: header-section(#{MAIN.NAV1.TEXT})"></th:block>
</th:block>
<th:block layout:fragment="nav-section">
    <th:block th:replace="/Layout/Body/Nav/Nav :: nav-section(#{MAIN.NAV1.TEXT})"></th:block>
</th:block>


<th:block layout:fragment="content-section">
    <div id="contents">
        <h3 th:text="#{MAIN.NAV0.SUB0.ETC.UPDATE.TEXT}"></h3>
        <div class="box">
            <div class="box_wrap">
                <form name="bbsNttForm" id="" method="post">
                    <fieldset>
                        <table class="bbs_table write">
                            <colgroup>
                                <col style="width:20%;">
                                <col style="width:80%;">
                            </colgroup>
                            <tbody>

                            <tr>
                                <th scope="row"><label for="" th:text="#{MAIN.NAV1.SUB1.MAPPING.REG.NATION.TEXT}"></label></th><!-- //필수 항목이 아닐 경우 클래스 y 삭제 -->
                                <td>
                                    <input type="text" name="" id="" onkeyup="this.value=this.value.replace(/[^a-zA-Z-_0-9]/g,'');"
                                           disabled readonly
                                           th:value="${#strings.toString(nav1sub1.get('NATION_CODE'))}"
                                    >
                                </td>
                            </tr>

                            <tr>
                                <th scope="row"><label for="" th:text="#{MAIN.NAV1.SUB1.MAPPING.REG.SENDPHONE.TEXT}"></label></th><!-- //필수 항목이 아닐 경우 클래스 y 삭제 -->
                                <td>
                                    <input type="text" name="" id="" onkeyup="this.value=this.value.replace(/[^a-zA-Z-_0-9]/g,'');"
                                           disabled readonly
                                           th:value="${#strings.toString(nav1sub1.get('SEND_PHONE'))}"
                                    >
                                </td>
                            </tr>

                            <tr>
                                <th scope="row"><label for="" th:text="#{MAIN.NAV1.SUB1.MAPPING.REG.SENDNAME.TEXT}"></label></th><!-- //필수 항목이 아닐 경우 클래스 y 삭제 -->
                                <td>
                                    <input type="text" name="" id="ipv4_input" maxlength='15' onkeyup="this.value=this.value.replace(/[^0-9.]/g,'');" placeholder="ip v4 형식으로 입력해 주세요"
                                           disabled readonly
                                           th:value="${#strings.toString(nav1sub1.get('SEND_NAME'))}"
                                    >
                                </td>
                            </tr>


                            </tbody>
                        </table>
                        <!-- //bbs_table write -->

                        <div class="layer-footer">
                            <div class="layer-button_right">
                                <a href="#" class="marker-reg layer-button list">목록</a>
                                <a href="#" class="marker-reg layer-button reg update">수정</a>
                            </div>
                        </div>
                        <!-- //bbs_btn_wrap -->

                    </fieldset>
                </form>

            </div>
        </div>
        <!-- //box -->
    </div>
</th:block>
</html>
